{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <section>
    {{#with data.products}}
    <div class="form">
      <h1 class="form__title">Редагування товару</h1>
      <form method="POST" action="/product-edit">
        <div class="form__card">
          <h2 class="form__card--title">Інформація про товар</h2>
          <div class="form__content">
            <div class="row">

              <div class="form__field">
                <label for="name" class="form__label">Назва товару</label>
                <input type="text" name="name" class="form__input" placeholder={{list.name}}>
              </div>

              <div class="form__field">
                <label for="price" class="form__label">Ціна</label>
                <input type="number" name="price" class="form__input" placeholder={{list.price}}>
              </div>

              <div class="form__field">
                <label for="id" class="form__label">ID</label>
                <input type="text" name="id" class="form__input" placeholder={{list.id}}>
              </div>

            </div>

            <div class="form__field">
              <label for="description" class="form__label">Короткий опис товару</label>
              <input type="text" name="description" class="form__input" placeholder={{list.description}}>
              <p>Відображається у картці товару</p>
            </div>

            <div class="form__buttons">
              <div>
                <button class="form__button button--blue" href="/product-edit">Зберегти
                  оновлення</button>
              </div>

              <div>
                <a class="form__button button--red" href="/product-delete?id={{list.id}}">Видалити товар</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    {{/with}}
  </section>

</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}