{{#with data}}

<div class="product__card">
    <h2 class="product__card--title">{{name}}</h2>
    <div class="product__info">{{description}} </div>
    <div class="product__id">ID: {{id}}</div>
    <div class="product__bottom">
        <div class="product__price">{{price}} $</div>
        <a class='product__link' href="/product-editr?id={{id}}">Редагувати</a>
    </div>
</div>

{{/with}}